@{
    ViewData["Title"] = "Решение завершено";
}

<h2 class="text-center mb-4">Решение завершено! 🎉</h2>

<div class="card p-4 mx-auto" style="max-width: 600px;">
    <h4 class="text-center">Исходное уравнение: \(@ViewBag.Equation\)</h4>
    
    <h4>Полное решение:</h4>
    
    <ol>
        <li>Вычисляем дискриминант: 
            \(D = b^2 - 4ac = @ViewBag.B^2 - 4 \cdot @ViewBag.A \cdot @ViewBag.C = @ViewBag.D\)
        </li>
        
        @if (ViewBag.D > 0)
        {
            <li>Находим корни:
                \(x_{1,2} = \frac{-b \pm \sqrt{D}}{2a} = \frac{-@ViewBag.B \pm \sqrt{@ViewBag.D}}{2 \cdot @ViewBag.A}\)
            </li>
            <li>\(x_1 = @ViewBag.Root1\)</li>
            <li>\(x_2 = @ViewBag.Root2\)</li>
        }
        else if (Math.Abs(ViewBag.D) < 0.0001)
        {
            <li>Находим корень:
                \(x = -\frac{b}{2a} = -\frac{@ViewBag.B}{2 \cdot @ViewBag.A} = @ViewBag.Root1\)
            </li>
        }
        else
        {
            <li>Комплексные корни:
                \(x = -\frac{@ViewBag.B}{2 \cdot @ViewBag.A} \pm i\frac{\sqrt{|@ViewBag.D|}}{2 \cdot @ViewBag.A}
                = @ViewBag.Root1 \pm i@ViewBag.Root2\)
            </li>
        }
    </ol>
    
    <div class="text-center mt-3">
        <a asp-controller="StepByStep" asp-action="Index" class="btn btn-primary">Решить другое уравнение</a>
        <a asp-controller="Practice" asp-action="Index" class="btn btn-secondary">Перейти к практике</a>
    </div>
</div>